/* navbar */
.blue{
	background-color: #C9EDFF;
	color: black;
}

/* ---- note-form ---- */

.plain{
	border-top: none !important;;
	background: none !important;;
}

.note-option{
	border: none !important;
	background: none;
	padding-left: 5%;
	cursor: pointer;
}


/* ---- note-item ---- */

.note {
	border: none !important;
	margin-bottom: 0 !important;
	-webkit-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.75);
	box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.75);
}

.note-options-container{
	border: none !important;
	background-color: rgb(128, 216, 255);
}

.note-options {
	opacity: 0; 
	-moz-opacity: 0; 
	-webkit-opacity: 0; 
	cursor: pointer;
}

.note-options:hover {
	opacity: 1; 
	-moz-opacity: 1; 
	-webkit-opacity: 1; 
}

.note-content {
	border: none !important;
	background-color: rgb(128, 216, 255);
	min-height: 200px;
	width:  250px;
}

.note-image{
	width: 25%;
	height: 25%;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	padding-left: 5px
}

/** Form Style **/

#note-image{
	display: none;
}

/*http://stackoverflow.com/questions/12200544/override-twitter-bootstrap-textbox-glow-and-shadows */
.borderless{
	background: none;
	outline: none;
	resize: none;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}